annotated-doc==0.0.4
brotli==1.2.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
cssselect2==0.9.0
fonttools==4.62.1
idna==3.13
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
pillow==12.2.0
pycparser==3.0
pydyf==0.12.1
Pygments==2.20.0
pyphen==0.17.2
requests==2.33.1
rich==15.0.0
shellingham==1.5.4
tinycss2==1.5.1
tinyhtml5==2.1.0
typer==0.24.1
urllib3==2.6.3
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1
