<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="styles.css" rel="stylesheet" />
    <title>PROFORMA</title>
  </head>
  <body>
    <header class="header" id="header">
      <div class="header-title">
        <span class="header-subheading">Vampire hunting division</span>
        <h1 class="heading-header">PROFORMA INVOICE</h1>
      </div>
      <div class="address-container">
        <img src="./buffy-vh-INC.png" class="logo" />
        <p class="header-company">Buffy Vampire Hunters Inc.</p>
        <p class="address">1630, Revello Drive</p>
        <p class="address">Sunnydale, California - USA</p>
        <p class="address">Tax ID 493-62-0604</p>
      </div>
    </header>
    <section class="client-section">
      <div class="client">
        <span class="subheading">Client Details</span>
        <h2 class="title">{{clientName}}</h2>

        <div class="details-container">
          <span class="details"> Attn. {{clientProjectManager}} </span>
          {% for key, value in address.items() %}
          <span class="details">{{value}}</span>
          {% endfor %}
          <span class="details">Tax ID: {{clientTaxID}}</span>
        </div>
      </div>
      <div class="project">
        <span class="subheading">Project Details</span>
        <h2 class="title">{{contractTitle}}</h2>
        <span class="details">Contract number: {{contractNumber}}</span>
        <span class="details">Proposal &#8470; {{proposalID}}</span>
        <span class="details"> Proposal date: {{proposalDate}} </span>
        <span class="details">Proforma issue date: {{dateToday}}</span>
      </div>
    </section>
    <section class="payment-section">
      <div class="payment-header">
        <h2 class="title">Payment Schedule</h2>
        <div class="contract-total-container">
          <span class="subheading"
            >Contract amount
            <span style="font-size: 0.8rem">({{currency}}) </span></span
          >
          <h2 class="title">$ {{contractAmount}}</h2>
        </div>
      </div>
      <div class="table">
        <div class="table-heading">
          <span class="subheading">Milestone</span>
          <span class="subheading">Percentage</span>
          <span class="subheading"
            >Amount
            <span style="font-size: 0.8rem">({{currency}}) </span>
          </span>
        </div>
        <div class="table-body">
          {% for item in paymentSchedule %}
          <div
            class="table-row {{ 'billed' if item.billed else 'not-billed'}} {{ 'billing' if loop.index in milestoneToBill else ''}}"
          >
            {% for key, value in item.items() %} {%if key == "description"%}
            <p class="milestone">{{value}}</p>
            {%elif key == "percentage"%}
            <p class="percentage">{{value}}%</p>
            {%elif key == "amount"%}
            <p class="amount">$ {{value}}</p>
            {%else%}{%endif%} {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="total-section">
      <div class="ipc-container">
        <p class="subheading">Price adjustment</p>
        <div class="ipc-data-container">
          <div class="ipc-title-container">
            <p class="ipc-title">Base Month:</p>
            <p class="ipc-title">Current Month:</p>
            <p class="ipc-title">cpi Variation</p>
            <p class="ipc-title">Adjustment amount:</p>
          </div>
          <div class="ipc-detail-container">
            <p class="ipc-detail">{{baseMonth}}</p>
            <p class="ipc-detail">{{currentMonth}}</p>
            <p class="ipc-detail">{{cpiVariation}}</p>
            <p class="ipc-detail">$ {{adjustmentAmount}}</p>
            <!--TODO: CALCULATE ADJUSTMENT AMOUNT-->
          </div>
        </div>
        <span class="ipc-disclaimer"
          >*Calculation based on CPI data from INDEC</span
        >
      </div>
      <div class="total-container">
        <div class="subtotal-container">
          <div class="subtotal-title-container">
            <p class="subtotal-title">Subtotal:</p>
            <p class="subtotal-title">Adjustment:</p>
            <p class="subtotal-title highlight">Adjusted subtotal:</p>
            <p class="subtotal-title">Tax(21%):</p>
          </div>
          <div class="subtotal-detail-container">
            <p class="subtotal-detail">
              $ {{subtotal_amount}}
              <!--TODO: CALCULATE SUBTOTAL AMOUNT-->
            </p>
            <p class="subtotal-detail">$ {{adjustmentAmount}}</p>
            <!--TODO: CALCULATE ADJUSTMENT AMOUNT-->
            <p class="subtotal-detail highlight">$ {{adjustedSubtotal}}</p>
            <!--TODO: CALCULATE ADJUSTMENT AMOUNT-->
            <p class="subtotal-detail">REVIEW:{{taxAmount}}</p>
          </div>
        </div>
        <div class="total-amount-container">
          <div class="total-text-container">
            <p class="total-text highlight">Total amount due</p>
            <p class="total-text">({{currency}})</p>
          </div>
          <p class="total-amount">REVIEW: $3.500,00</p>
        </div>
      </div>
    </section>
    <section class="payment-instructions-section">
      <div class="bank">
        <p class="subheading">Bank account</p>
        <p class="bank-details">Buffy Vampire Hunters INC</p>
        <p class="bank-details">Bank: Watchers Council's Bank</p>
        <p class="bank-details">Account &#8470;: 555-0101</p>
        <p class="bank-details">SWIFT: SLYRUS33SUN</p>
      </div>
      <div class="instructions">
        <p class="instruction-text">
          ¹ Payment is due within 10 business days from final invoice issue
          date.
        </p>
        <p class="instruction-text">
          ² A 2% monthly late fee applies to overdue balances.
        </p>
        <p class="instruction-text">
          ³ Submit payment receipt to payments@buffyvamphunters.com
        </p>
      </div>
    </section>
    <!-- TODO: Add section with CPI table (pdf page 2) -->
  </body>
</html>
