<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="styles.css" rel="stylesheet" />
    <title>PROFORMA</title>
  </head>
  <body>
    <header class="header" id="header">
      <div class="header-title">
        <h3 class="heading-header">PROFORMA</h3>
        <span class="header-subheading">Certificación de avance</span>
      </div>
      <div class="header-info">
        REVIEW: <img src="xxxx" class="logo" />
        <p class="address">Av. Córdoba 937 oficinas 3 y 4</p>
        <p class="address">Buenos Aires, Argentina</p>
        <p class="address">CUIT 30-58129041-8</p>
      </div>
    </header>
    <section class="proforma-info" id="proforma-info">
      <div class="proforma-info-client">
        <span class="subheading">Datos del cliente</span>
        <p class="client-name">{{clientName}}</p>
        <p class="client-info">Att. {{clientProjectManager}}</p>
        <p class="client-info">CUIT {{clientCuit}}</p>
      </div>
      <div class="proforma-info-project">
        <span class="subheading">ID Proyecto</span>
        <p class="project-info">{{contractNumber}}</p>
        <p class="project-info">{{contractTitle}}</p>
        <p class="project-info">Propuesta P-{{proposalNumber}}</p>
        <p class="project-info">Fecha de propuesta: {{proposalDate}}</p>
        <p class="project-info">Fecha de proforma: {{today}}</p>
      </div>
    </section>
  </body>
</html>
