/*
DESIGN SYSTEM
Main Color  #792021
Grays #555555 #6a6965 #949494 #dddcdb

*/

/* GENERAL */

@page {
  size: A4;
  margin: 0;
}

@font-face {
  font-family: "Manrope";
  src: url(/templates/fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Rubik";
  src: url(//templates/fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Helvetica";
  src: url(/templates/fonts/Helvetica.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica";
  src: url(/templates/fonts/Helvetica-Bold.ttf);
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #555555;
}

.subheading {
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #6a6965;
}

/* HEADER */

.header {
  margin: 3rem 8rem 1rem 8rem;
  display: flex;
  padding: 1rem 1rem;
  gap: 0.2rem;
}

.header-title {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  justify-content: center;
  flex: auto;
}
.heading-header {
  margin-top: 0.9rem;
  margin-bottom: 0;
  font-size: 19rem;
  font-family: "Manrope", sans-serif;
  color: #792021;
  font-size: 3.2rem;
  letter-spacing: -0.17rem;
}
.header-subheading {
  display: inline-block;
  margin-top: 0px;
  text-transform: uppercase;
  align-self: flex-start;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #555555;

  transform: translate(0px, 10px);
}

.logo-container {
  height: 80px;
  width: 80px;
  margin: 0px;
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  margin-bottom: -0.5rem;
  height: 60px;
  width: 60px;
  align-self: left;
}
.header-company {
  color: #792021;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  text-align: center;
}

.address-container {
  display: flex;
  flex-direction: column;
  font-size: 1.4;
  text-align: left;
  font-size: 1.2rem;
  align-items: end;
  color: #555555;
  align-self: center;
}

.address-container .address {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  color: #949494;
}

/* CLIENT SECTION */

.client-section {
  border-top: 1px solid #dddcdb;
  border-bottom: 1px solid #dddcdb;
  padding: 3rem 0rem;
  margin: 0rem 9rem;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #792021;
  letter-spacing: 1px;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.details {
  display: block;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

/* PAYMENT SECTION */

.payment-section {
  padding: 3rem 0rem;
  margin: 0rem 9rem;
}

.payment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contract-total-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid #792021;
  border-radius: 7px;
  align-items: center;
}

.contract-total-container h2 {
  margin-top: 0.3rem;
  margin-bottom: 0;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-heading {
  padding-left: 1rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
}

.table-heading .subheading {
  font-size: 1.2rem !important;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-row {
  padding-left: 1rem;
  display: flex;
  height: 3rem;
  align-items: center;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.table-row :nth-child(1),
.table-heading :nth-child(1) {
  flex: 4;
}

.table-row :nth-child(2),
.table-row :nth-child(3),
.table-heading :nth-child(2),
.table-heading :nth-child(3) {
  flex: 1.5;
  text-align: center;
}

.billed {
  color: #6a6965;
}

.not-billed {
  color: #949494;
}
.billing {
  height: 4rem;
  background-color: #dddcdb;
  color: #792021;
  font-weight: 600;
}

/* TOTAL SECTION */

.total-section {
  display: flex;
  padding: 3rem 0rem;
  margin: 0rem 9rem;
  justify-content: space-around;
  gap: 2rem;
}

.ipc-container {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  gap: 1rem;
  border: 2px solid #792021;
  border-radius: 7px;
  align-items: center;
}

.total-container {
  background-color: rgb(121, 32, 33);
  padding: 1rem 2rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  flex: 1.5;
  gap: 2rem;
}

.ipc-data-container {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  border-bottom: 1px solid #dddcdb;
}

.ipc-title-container,
.ipc-detail-container,
.subtotal-title-container,
.subtotal-detail-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  white-space: nowrap;
  letter-spacing: 0.05rem;
}

.ipc-detail-container {
  align-items: flex-end;
}

.subtotal-detail-container {
  align-items: flex-end;
}

.ipc-title {
  text-transform: uppercase;
}

.ipc-detail {
  font-weight: 600;
}

.ipc-disclaimer {
  white-space: nowrap;
  font-size: 0.8rem;
}

.subtotal-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.total-amount-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.subtotal-title,
.subtotal-detail,
.total-text {
  color: #e6e6e6;
  letter-spacing: 0.07rem;
}

.highlight {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.total-text-container {
  display: flex;
  text-transform: uppercase;
  gap: 0.5rem;
  white-space: nowrap;
}

.total-amount {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
}
